:root {
  --bg-color: rgba(66, 66, 66, 0.938);
  --text-color: white;
  --hour-color: white;
  --minute-color: rgb(202, 202, 202);
  --second-color: rgb(250, 71, 71);
}

body {
  background: var(--bg-color);
  transition: 0.3s ease;
}

.hand.hour {
  background: var(--hour-color);
}

.hand.minute {
  background: var(--minute-color);
}

.hand.second {
  background: var(--second-color);
}

.date {
  color: var(--text-color);
}


body.light {
  --bg-color: #f4f4f4;
  --text-color: rgb(0, 0, 0);
  --hour-color: black;
  --minute-color: rgba(0, 0, 0, 0.712);
  --second-color: crimson;
}

body.blue {
  --bg-color: #6d85bd;
  --text-color: #38bdf8;
  --hour-color: #38bdf8;
  --minute-color: #38bdf8;
  --second-color: #f43f5e;
}

body.purple {
  --bg-color: #724a7e;
  --text-color: #c084fc;
  --hour-color: #c084fc;
  --minute-color: #c084fc;
  --second-color: #facc15;
}

body.green {
  --bg-color: #478664;
  --text-color: #84fcac;
  --hour-color: #84fcba;
  --minute-color: #84fcb6;
  --second-color: #facc15;
}

body.red{
  --bg-color: #df5252;
  --text-color: #d36666;
  --hour-color: #fc8484;
  --minute-color: #ff9696;
  --second-color: #facc15;
}

body.yellow {
  --bg-color: #f5f374;
  --hour-color: #888888;
  --minute-color: #cccf9b;
  --second-color: #c96bff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  position: relative;
  width: 420px;
  height: 420px;
  border: 2px solid black;
  border-radius: 50%;
}

.clock-face {
  width: 100%;
  height: 100%;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translateX(-50%) rotate(0deg);
  border-radius: 10px;
}

.hour {
  width: 8px;
  height: 90px;
  background: rgb(20, 90, 41);
  z-index: 2;
}

.minute {
  width: 5px;
  height: 120px;
  background: rgb(42, 53, 43);
  z-index: 1;
}

.second {
  width: 3px;
  height: 128px;
  background: red;
  z-index: 3;
}

.center-dot {
  position: absolute;
  width: 17px;
  height: 17px;
  background: rgb(221, 221, 221);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.date {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: rgb(136, 136, 136);
  border-radius: 5px;
  padding: 5px;
}

#timezone {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 16px;
}

.timeandtheme {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    gap: 20px;
}