*{
    text-decoration: none;
    overflow-y: hidden;
}

.display {
    background-color: rgb(208, 219, 231);
    color: rgb(66, 66, 66);
    font-size: 1.5rem;
    min-height: 34px;
    width: 36vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem;
    border-radius: 0.7rem;
    margin-bottom: 10px;
}

.background{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(121, 121, 121);
}

.calculator{
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 43, 43);
    border-radius: 1rem;
    width: 40vw;
}

.background button{
    font-size: 1.1rem;
    width: 9.5vw;
    height: 10vh;
    border-radius: 0.7rem;
    font-weight: 600;
    background-color: rgb(208, 219, 231);
    border: 1px solid black;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 3px;
    padding: 1%;
}

#all-clear , #del , #percent , #division , #multiplication , #subtraction , #plural {
    color: chocolate;
}

#equal{
    background-color: chocolate;
}